[submodule "shared/react"]
	path = shared/react
	url = https://github.com/nuniesmith/shared-react.git
[submodule "shared/schema"]
	path = shared/schema
	url = https://github.com/nuniesmith/shared-schema.git
[submodule "shared/scripts"]
	path = shared/scripts
	url = https://github.com/nuniesmith/shared-scripts.git
